* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.number {
    width: 108px;
    height: 100px;
    font-size: 28px;
}

div.col-xxl-3.text-center {
    padding: 0;
}

.numpad {
    left: 50%;
    top: 50%;
}

.satu {
    border-top-left-radius: 20px;
}

.tiga {
    border-top-right-radius: 20px;
}

.play {
    border-bottom-left-radius: 20px;
}

.del {
    border-bottom-right-radius: 20px;
}

.display-num {
    font-size: 34px;
    background-color: #ffffff9d;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 70px;
    user-select: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-footer {
    font-size: 34px;
    background-color: #ffffff9d;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    height: 70px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
}

.col-xxl {
    padding: 0;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.fas {
    font-size: 20px;
}

.close {
    background-color: white;
    border: none;
}

.menu {
    background-color: #ffffff;
    border: none;
}

.waktu {
    user-select: none;
    font-size: 28px;
}

.row {
    margin: 0!important;
}