* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.number {
    width: 94px;
    height: 86px;
    font-size: 28px;
}

.numpad {
    left: 50%;
    top: 50%;
}

.satu {
    border-top-left-radius: 20px;
}

.tiga {
    border-top-right-radius: 20px;
}

.play {
    border-bottom-left-radius: 20px;
}

.del {
    border-bottom-right-radius: 20px;
}

.display{
    background-color: #FFEDA9;
    width: 100%;
    text-align: center;
    height: 90px;
    user-select: none;
}

.display-num {
    font-size: 42px;
    background-color: #FFEDA9;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.fas {
    font-size: 20px;
}

.close {
    background-color: white;
    border: none;
}

.menu {
    background-color: #FFEDA9;
    border: none;
}